@font-face {
    font-family: font-ride2work;
    src: url(../fonts/din-next-lt-pro-regular.otf);
}

* {
    font-family: font-ride2work;
}

.starter-template {
    margin-top: 5rem;
}

#main-logo {
    margin-left: 15%;
    margin-right: 15%;
}

#main-logo:hover {
    opacity: 0.7;
}

.main-color {
    color: #2E3192!important;
}

/*					*/
/*	GLOBAL RULES	*/
/*					*/

h1, h2, h3, h4, h5, h6 {
	font-weight: bold!important;
	color: #2E3192!important;
}

ul:not(.form-legend) {
    margin-right: 10%;
}

a {
    font-weight: bold;
    color: #2E3192!important;
}

a.scrolling {
    text-decoration: none;
    letter-spacing: 2px;
    margin: 15px 50px 15px -30px;
}

a.nav-link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #2E3192;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a.nav-link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.middle-stuff {
    font-weight: bold;
    color: #2E3192!important;
}


/*p {
	color: #2E3192!important;
}*/

/*					*/
/*	EVENTS RULES	*/
/*					*/

#events {
    margin: 100px 0px;
}

#kick-off {
    margin: 50px 0px;
}

#kick-off h1 {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

#previous-events {
    font-size: 23px;
    opacity: 0.85;
    text-decoration: underline;
}

.mega-fluid-img {
    min-width: 100%;
}

.nav-link {
    position: relative;
}

#map {
    position: relative;
    min-width: 100%;
    left: 2%;
}

#sponsor {
    position: relative;
    left: 30%;
    bottom: 15%;
    height: 30%;
}

.ali {
    margin: 0 auto;
}



#b-friendly {
    font-family: 'Open Sans', sans-serif;
}

.biker-friendly>p {
    margin-bottom: 0px;
}

/*.absolute-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}*/

.pos-absolute {
    position: absolute;
}

#arrow-events {
    position: absolute;
    top: -20%;
    left: 50%;
}

.green-button {
    color: #1a1a1a !important;
    background: #73e67c;
    border-radius: 1000px;
    padding: 17px 50px;
    text-decoration: none !important;
    display: inline-block;
    font: normal 700 18px/1 "Open Sans", sans-serif;
    text-align: center;
    text-shadow: none;
    margin-top: 55px;
}

.green-button:hover {
    opacity: 0.5;
}

.sponsors {
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    /*text-align: center;*/
    /*width: 100%;*/
    background-color: #2E3192;
    color: #ffffff!important;
}

#organizators {
    padding-top: 50px;
    padding-bottom: 50px;
}

#organizators p,#partners p{
    font-size: 18px;
    margin-bottom: 2rem;
}

#partners {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 4%;
}

.steps {
    position: relative;
    margin-top: 1rem;
    z-index: 10;
}


/*					*/
/*	FOOTER RULES	*/
/*					*/

.img-footer {
	max-width: 100%;
	min-height: 80%;
}

footer {
    background: url("../images/background-logo-footer.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact {
    color: #fff;
    font-size: 16px;
}

.contact,
.contact-form {
    margin-top: 30px;
    margin-bottom: 3%;
}

.contact-form {
    margin-left: 4%;
}

.contact-social {
	margin-top: 90px;
	margin-bottom: 50px;
}

.contact-social > a {
    margin: 0 15px;
}

.contact-social > a:hover {
    opacity: 0.65;
}

.contact-social img {
    height: 40px;
}

#google-contact {
	margin-right: 20px;
	margin-left:20px;
}

.awsum-fa {
    color: #fff !important;
}

.md-input>input {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: #fff;
    border: none;
        border-bottom: 2px solid rgba(46, 49, 146, 0.5);
    outline: 0;
    width: 100%;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
}

.form-legend {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

.form-legend>li {
    padding: 10px;
}

.form-legend>li>a {
    font-size: 18px;
    font-weight: bold;
    color: #fff!important;
}

.no-display {
    display: none;
}

.message {
    resize: none;
    overflow: hidden;
    position: absolute;
    color: white;
    background: none;
    line-height: 47px;
    width: 92%;
    height: 240px;
    border: 0px;
}

.message:focus {
    outline: 0;
}

#footer-logo {
    margin-bottom: 45px;
}

#footer-logo:hover {
    opacity: 0.7;
}

tatus {
    font-size: 18px;
}

.form-success {
    color: #5fce68;
}

.form-error {
    color: #e45a24;
}

.contursoft-logo {
    height: 40px;
    margin-left: 5px;
}

.underline {
    text-decoration: underline;
}

#contact-email {
    margin-top: 10px;
}

.powered {
    font-size: 13px;
}

#email {
    margin-top: 60px;
    width: 210px;
}

.send-mail {
    margin-top: 70px;
}

.between {
    position: relative;
    border: 0.1px solid #a4efaa;
    top: 85px;
    left: 0%;
    width: 72%;
}

@-moz-document url-prefix() {
    .between {
        position: relative;
        border: 0.1px solid #a4efaa;
        top: 85px;
        left: 0%;
        width: 72%;
    }
}

/*					*/
/*	Articles Page 	*/
/*					*/

.previous-articles {
    margin: 200px 0 100px 0;
}

.rhomb {
    position: relative;
    top: 10px;
    left: 65px;
    width: 165px;
    height: 165px;
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 35px;
    border: none;
    transform: rotateZ(-45deg);
    overflow: hidden;
    -webkit-transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    transform-origin: 0 100% 0deg;
}

.rhomb > img {
    transform: rotateZ(45deg);
    position: relative;
    min-width: 135%;
    min-height: 150%;
    left: -35px;
    top: -35px;
}

.article-content br {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Carousel Things*/
.slide {
    margin-left: 12px;
    margin-right: 16px !important;
}



/*					*/
/*	MEDIA QUERIES	*/
/*					*/

@media (min-width: 768px) {
    /*.between {
        position: relative;
        border: 0.1px solid #a4efaa;
        top: 31px;
        right: 173%;
        min-width: 443%;
    }*/

    .points-row {
        margin-left: -100px;
    }

    #companies {
        width: 50%;
    }
}

@media (max-width: 768px) {

    a.scrolling {
        margin: 0 auto;
    }

    .cls-mobi {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .mobile-nav {
        padding-right: 18px;
        padding-bottom: 18px;
        background: #76e77e;
        cursor: pointer;
    }

    .drop-op {
        background-color: #fff;
        opacity: 0.7;
    }

    #main-logo {
        margin: 0;
        width: 60px;
    }

    #arrow-events {
        top: -7% !important;
    }

    .sponsors {
        text-align: center;
    }

    .form-legend {
        flex-direction: column;
    }

    #events {
        margin: 100px 0px;
    }

    #sponsor {
        max-width: 25%;
    }

    .message {
        max-width: 100%;
        height: 250px;
    }

    #event-details {
        width: 100% !important;
    }

    #organizators .pull-left,
    #partners .pull-right {
        float: none;
    }

    .contact {
        text-align: center;
    }

    #partners,
    .contact-form {
        margin-left: 0;
    }

    a.nav-link,
    a.nav-link:hover {
        width: 150px;
    }

    .bx-prev, .bx-next {
        display: none;
    }
     .slide{
        margin-left: 45px;
        margin-right: 170px !important;
    }

}

@media (max-width: 1560px) {
    .middle-stuff {
        text-align: center;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .cls-mobi {
        max-width: 100%;
        flex: 0 0 100%;
    }

    #event-info {
        text-align: center;
        min-width: 100%;
    }

    #arrow-events {
        position: absolute;
        top: -8%;
        left: 50%;
    }

    #event-details {
        width: 50%;
        margin: 5rem auto;
    }
    /*.between {
        right: 65px;
        min-width: 167px;
    }*/
}

@media (max-width: 1200px) {
    /*.between {
        right: 200%;
        min-width: 483%;
    }*/
}

@media (max-width: 992px) {
    .between {
        display: none;
    }

    .slide{
        margin-left: 15px;
        margin-right: 15px !important;
    }

}

@media (max-width: 378px) {
    #arrow-events {
        display: none;
    }

}
